.stories-container {
    display: flex;
    margin-top: 88px;
    height: 118px;
    overflow: hidden;
    position: relative; 
    align-items: center;
    padding-left: 20px;
    column-gap: 14px;    
    border-radius: 3px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    overflow-x: scroll;
}

.stories-container::-webkit-scrollbar {
    display: none;
}

.forward-icon {
    font-size: 30px;
    position: absolute;
    right: 8px;
    top: 46px;
    z-index: 2;

    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}